node_modules
**/node_modules/
**/node_modules
node_modules/
ghost3.42/*
ghost5.72.2/*
**/package-lock.json
package-lock.json
tests/kraken/reports/*
tests/kraken/.kraken/*
screenshots/*
**/screenshots/*